@charset "UTF-8";

* {
    box-sizing: border-box;
}

.home-content-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100vw;
    height: auto;
    min-height: 100vh;
    background-color: #f4f4f9;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    width: 100vw;
    background-color: #ffffff;
    padding: 24px 112px;
}

.logo-navbar {
    height: 24px;
    width: auto;
}

.navbar-user-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 260px;
    height: 100%;
}

.navbar-user-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color: #e4fde1;
}

.navbar-user-avatar h3 {
    text-transform: uppercase;
}

.finance-card-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 48px 122px;
}

.finance-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 140px;
    border-radius: 24px;
    background-color: #ffffff;
}

.table-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    padding: 0px 122px;
}

.table-content-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 592px;
    background-color: #ffffff;
    border-radius: 24px;
    padding: 24px;
}

.table-content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 24px;
}

table {
    width: 100%;
}

th {
    text-align: left;
    color: #7c7c7c;
}

th.right {
    text-align: right;
}

th.center {
    text-align: center;
}

td {
    color: #7c7c7c;
}

td.right {
    text-align: right;
}

td.center {
    text-align: center;
}

.modal-background {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(1, 4, 0, 0.2);
}

.modal-content {
    width: 480px;
    height: 100%;
    background-color: #f4f4f9;
    padding: 24px;
}

.modal-content-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}